{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">Create a new Todo</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input
                        type="text"
                        class="form-control"
                        name="title"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                        name="description"
                        class="form-control"
                        rows="3"
                        required
                    ></textarea>
                </div>
                <div class="form-group">
                    <label for="priority">Priority</label>
                    <select name="priority" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Add Todo</button>
            </form>
        </div>
    </div>
</div>
