{% include 'layout.html' %}

<!-- container  -->
<div class="container">
    <div class="card text-center">
        <div class="card-header">My Todos</div>

        <div class="card-body">
            <h5 class="" card-title>My Todos</h5>
            <p class="card-text">Todos that needs to be completed</p>

            <!-- data table -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Info</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for todo in todos %} {% if todo.complete == false %}
                    <tr class="pointer">
                        <td>{{loop.index}}</td>
                        <td>{{todo.title}}</td>
                        <td>
                            <button
                                onclick="window.location.href='complete/{{todo.id}}'"
                                type="button"
                                class="btn btn-success"
                            >
                                Complete
                            </button>
                            <button
                                onclick="window.location.href='edit-todo/{{todo.id}}'"
                                type="button"
                                class="btn btn-info"
                            >
                                Edit
                            </button>
                        </td>
                    </tr>

                    {% else %}
                    <tr class="pointer alert alert-success">
                        <td>{{loop.index}}</td>
                        <td class="strike-through-td">{{todo.title}}</td>
                        <td>
                            <button
                                onclick="window.location.href='complete/{{todo.id}}'"
                                type="button"
                                class="btn btn-success"
                            >
                                Undo
                            </button>
                            <button
                                onclick="window.location.href='edit-todo/{{todo.id}}'"
                                type="button"
                                class="btn btn-info"
                            >
                                Edit
                            </button>
                        </td>
                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>

            <!-- add new task -->
            <a class="btn btn-primary" href="add-todo">Add New Todo</a>
        </div>
    </div>
</div>
