<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', path='/todo/css/base.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', path='/todo/css/bootstrap.css') }}"
        />

        <title>getAhead | FastAPI</title>
    </head>
    <body>
        {% include 'navbar.html' %}

        <!-- page content  -->
        {% block content %} {% endblock %}

        <!-- scripts  -->
        <script src="{{ url_for('static', path='/todo/js/jquery-slim.js') }}"></script>
        <script src="{{ url_for('static', path='/todo/js/popper.js') }}"></script>
        <script src="{{ url_for('static', path='/todo/js/bootstrap.js') }}"></script>
    </body>
</html>
