{% include 'layout.html' %}

<!-- container  -->
<div class="container">
    <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            {% if msg %} {% if msg == 'Logout successful' or msg == 'User
            created successfully' %}
            <div class="alert alert-success" role="alert">{{msg}}</div>
            {% else %}
            <div class="alert alert-danger" role="alert">{{msg}}</div>
            {% endif %} {% endif %}

            <form method="POST" action="/auth">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        class="form-control"
                        type="password"
                        name="password"
                        required
                    />
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

        <div class="card-footer text-muted">
            <a href="/auth/register">Register</a>
        </div>
    </div>
</div>
