{% include 'layout.html' %}

<!-- container  -->
<div class="container">
    <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
            {% if msg %} {% if msg != "User created successfully" %}
            <div class="alert alert-danger" role="alert">{{msg}}</div>
            {% else %}
            <div class="alert alert-success" role="alert">{{msg}}</div>
            {% endif %} {% endif %}

            <form method="POST" action="/auth/register">
                <!-- username and email  -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input
                            class="form-control"
                            type="email"
                            name="email"
                            required
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="username">Username</label>
                        <input
                            class="form-control"
                            type="text"
                            name="username"
                            required
                        />
                    </div>
                </div>

                <!-- name  -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="first_name">First name</label>
                        <input
                            class="form-control"
                            type="text"
                            name="first_name"
                            required
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name">Last name</label>
                        <input
                            class="form-control"
                            type="text"
                            name="last_name"
                            required
                        />
                    </div>
                </div>

                <!-- password  -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        class="form-control"
                        type="password"
                        name="password"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="password2">Verify Password</label>
                    <input
                        class="form-control"
                        type="password"
                        name="password2"
                        required
                    />
                </div>

                <!-- submit  -->
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>

        <div class="card-footer text-muted">
            <a href="/auth">Already have an account?</a>
        </div>
    </div>
</div>
